.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.cardLider, .cardRT{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

